button.btn {
	display: inline-block;
	padding: 0 25px;
	font-size: 26px;
	font-family: "Bitter", serif;
	font-weight: 700;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	color: #fff;
  	border: none;
  	border-radius: 3px;
}

button.btn:focus {
	outline: 0;
}

button.btn.red {
	background-color: #c86464;
  	text-shadow: -1px 1px #b84141;
}

button.btn.green {
	background-color: #64c895;
    text-shadow: -1px 1px #41b871;
}

button.btn.red:hover {
	background-color: #923434;
  	text-shadow: -1px 1px #6d2727;
}

button.btn.green:hover {
	background-color: #349251;
    text-shadow: -1px 1px #276d33;
}