<!doctype html>

<html>
  <head>
    <title>Sabrage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">
    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300|Roboto" rel="stylesheet">
    <link rel="import" href="/static/sabrage/sabrage-app.html">
  </head>
  <body>
    <sabrage-app></sabrage-app>
  </body>
</html>
